<div class="panel panel-default">
  <div class="panel-heading remove">
    <p>
    <h4>Reduced Embedding Visualizer</h4>
    <i>
    MouseOver any point to reveal pertinant information.
    Each point can be clicked to remind yourself which ones you have visited.
    </i>
    </p>
  </div>
  <div class="panel-body">
<div class="section rembedder">
  <div id="embed-name" style="display:none;">{{include.file}}</div>

    <div class="row">
      <div id="embedding"></div>
    </div>

    <div class="row" id="stage">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <p id="img-name"></p>
        </div>
        <div class="panel-body">
          <img src=""/>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
