---
layout: post
title: Interactive Reduced Embeddings

file: "/research-pages/assets/data/embedding.json"
file2: "/research-pages/assets/data/embedding2.json"
---


{% assign file={{page.file}} %}
{% include rembedder.html file=file %}


## Some section explaining code

{% highlight javascript %}
function WhatsTheAnswer(){
  return parseInt('42');
{% endhighlight %}


{% assign file={{page.file2}} %}
{% include rembedder.html file=file %}

## An Image

> For good measure

![One Image]({{site.data['example']['thumb']}})

## And Another

![@docfast](http://photos-b.ak.instagram.com/hphotos-ak-xfp1/10632254_450887461721113_670996025_n.jpg)
